@use '../base/mixins' as m;
@use '../base/variables' as v;


html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuente_principal;
    font-size: .8rem;
   
}
main {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#root {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
