@use "../base/mixins" as m;
@use "../base/variables" as v;

.cart {
  width: 100%;
  
//   height: 80vh;

  &__container {
    display: block;
  }
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: v.$primario;
    margin-top: v.$separacion;
    text-align: center;
    
  }
}


.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: v.$secundario;
  margin-top: 0px;
  justify-content: center;

  &__product {
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    gap: 1rem;
    border-bottom: solid 1px v.$grisClaro;
    
    // &:first-child {
    //     border: solid 1px v.$secundario;
    //     border-top: solid 1px v.$secundario;
    // }
  }
  &__img {
    grid-column: 1 / 2;
    width: 2.5rem;    
    height: 2.5rem;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;

    @include m.tablet {
        width: 5rem;
        height: 5rem;
    }
  }
  &__title {
    margin: auto;
  }
  &__price {
    margin: auto;
  }
  &__count {
    margin: auto;
  }
  &__subtotal {
    margin: auto;
  }
  &__remove {
    background-color: rgb(233, 92, 92);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    color: v.$blanco;
    display: flex;
    font-size: .5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    @include m.tablet {
      font-weight: 900;
      width: 2rem;
      height: 2rem;  
    }
    &:hover {
        cursor: pointer;
        background-color: rgb(171, 34, 34);
        transition: all .2s ease;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    border-bottom: 1px solid v.$grisClaro;
    justify-content: space-around;

    .head__title{
        font-weight: 900;
        font-size: .8rem;

        @include m.tablet {
          font-size: 1rem;
        }
    }
    }


 
    
  &__total {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem ;
        margin-bottom: 1rem;
        gap: 1rem;
        @include m.tablet {
          flex-direction: row;
        }
        

        p {
          text-align: center;
          // grid-column: 4 / 6;
          // grid-row: 1/2;
            font-weight: 900;
            font-size: 1.1rem;
            width: 30%;
        }
        a {
          text-decoration: none;
          color: v.$blanco;
        }
        
        button {
          // grid-column: 1/3;
          width: 70%;
          text-align: center;
          background-color: v.$primario;
          padding: 0.5rem 0.8rem;
          border-radius: 1rem;
          border: none;
          color: #F3EFF5;
          text-decoration: none;
          margin: auto;
          @include m.tablet {
            width: 20%
          }
          &:hover {
            cursor: pointer;
            scale: 1.05;
            transition: all .1s ease-in;
          }
        }
    }
}

.form {

  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 1rem;

  &__field{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin: .5rem auto ;

    @include m.tablet {
      justify-content: space-evenly;
    }
  }
  &__label {
    color: v.$grisClaro;
    width: 5rem;
    @include m.tablet {
      width: 7rem;
    }

  }
   &__input {
    width: 60%;
    border: v.$secundario solid 1px;
    padding: .2rem .5rem;
    &::placeholder {
      font-style: italic;
      color: v.$terciario;
    }
    @include m.tablet {
      width: 40%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include m.tablet {
      flex-direction: row;
      gap: 2rem;
      width: 100%;
      margin: auto;
    }
  }
  &__total {
    display: flex;
    justify-content: center;
    padding: .5rem .8rem;
    border-radius: 1rem;
    background-color: v.$primario;
    width: 60%;
    color: v.$blanco;
    margin: auto;
    margin-bottom: 2rem;
    @include m.tablet {
      width: 40%;
    }
  }
  &__button {
    border: none;
    justify-content: center;
    padding: .5rem .8rem;
    background-color: v.$primario;
    border-radius: 1rem;
    color: v.$blanco;
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
    transition: scale .05s;

    &:hover {
      cursor: pointer;
      scale: 1.03;
    }
  }
  
}

.checkout{
  border: solid 2px v.$primario;
  padding: 2rem;
  min-height: 100vh;
  margin-bottom: 2rem;
  &__container {
  width: auto;
  }
  &__grid {
    display: flex;
    flex-direction: column;
    @include m.tablet {
      display: grid;  
      grid-template-columns: repeat(2,1fr);
    }
  }

  &__datos {
    margin-bottom: 2rem;
    margin: auto;
    font-size: 1.3rem;
    text-align: start;
  }
  @include m.tablet {
    font-size: 1rem;
  }
  &__datos-title{
    text-align: center;
    font-style: italic;
    color: v.$grisClaro;
    font-weight: 700;
    @include m.tablet {
      text-align: start;

    }
    span {
      color: v.$negro;
    }
  }
  &__productos{
      display: flex;
      height: auto;
    }
    &__producto{
      width: 100%;
      display: flex;
      justify-content: space-around;    
      border-bottom: 1px solid v.$grisClaro;
      @include m.tablet {
        height: 4rem;  
      }
  }
  &__producto-img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
  }
  &__producto-desc{
    color: v.$grisClaro;
  }
  &__total {
    text-align: end;
    color: v.$grisClaro;
    font-size: 1.5rem;
    font-weight: 700;
    span {
      font-style: italic;
      color: v.$negro;
    }
  }

  &__total-container {
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
  }
}



