@use '../base/mixins' as m;
@use '../base/variables' as v;

.header {
    background-image: url(/public/assets/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    

    @include m.tablet {
        height: 5rem;
        background: inherit;
        background-color: v.$primario;
    }

    &__container {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       height: 100vh;
       align-items: center;
       @include m.tablet {
            height: 100%;
            flex-direction: row;
       }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        @include m.tablet {
            padding: 1rem 1.5rem;
            margin: 0 2rem;
        }
        h1 {
            text-transform: uppercase;
            color: v.$blanco;
            font-weight: 900;
            font-size: 3rem;
            margin: 0;
            text-align: center;
            
            @include m.tablet {
                font-size: 2.5rem;
            }
        }

        

        p {
            color: v.$blanco;
            margin: 0;
            font-size: 2rem;
            text-align: end;
            font-style: italic;
            @include m.tablet {
                font-size: inherit;
                margin-top: -5px;
            }
        }
    }
    &__search {
        input {
            border: none;
            width: 100%;
            font-size: 1.5rem;
            color: v.$grisClaro;
            padding: .75rem 2.5rem;
            border-radius: .5rem;
            font-style: italic;
            box-shadow: 0 2px 7px #dfdfdf;
            @include m.tablet {
                font-size: .8rem;
                padding: 0.5rem 2rem;
            }
        }
    }
    &__nav {
        display: flex;
        @include m.tablet {
            background-color: inherit;
        }
    }
    &__ul {
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        @include m.tablet {
            flex-direction: row;
        }
    }
    &__li {
        list-style: none;
        padding: .2rem .5rem;
        margin-top: .5rem;
        transition: .05s ease all;
        &:hover {
            scale: 1.03;
        }
    }
    a {
        text-decoration: none;
        color: v.$blanco;
        font-size: 1.5rem;
            &:hover {
                color: v.$grisClaro;
                cursor: pointer;
                transition: all .2s;

            }

            

        @include m.tablet {
            font-size: inherit;
            font-size: .8rem;
            
        }
    }
   
}

.cart-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    min-width: 3rem;
    height: 3rem;
    background-color: v.$primario;
    border-radius: 50%;
    border: solid v.$blanco 2px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 210;
    
    // @include m.tablet {
    //     position: fixed;
    // }

    svg {
        fill: v.$blanco;
        color: v.$blanco;
        width: 60%;
        height: 60%;
        display: flex;
    }

    &:hover {
        cursor: pointer;
        border: solid v.$grisClaro 3px;
        transition: all .2s;

        svg {
            transition: .2s fill;
            fill: v.$grisClaro;
        }
    }
    
    @include m.tablet {
        position: fixed;
        bottom: inherit;
        right: 1rem;
        top: 1rem;
        background-color: v.$primario;

    }

    &__number {
        color: v.$blanco;
        font-weight: 900;
        font-size: 1rem;
        background-color: rgb(231, 121, 77);
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: -25px;
        right: -5px;
    }
}

.cartmenu {
    width: 100%;
    height: 100vh;
    z-index: 200;
    position: fixed;
    margin: auto;
    top: 1rem;
    
    @include m.tablet {
        position: fixed;
        right: -1rem;
        top: 0rem;
        width: 35rem;
        height: 40%;
    }
    
    
    
    &__container {
        background-color: v.$blanco;
        border-radius: .5rem;
        height: 95vh;
        box-shadow: 0 2px 7px #dfdfdf;
        margin: auto;
        text-align: center;
        @include m.tablet {
            height: 100vh;
        }
    }

    &__title {
        font-size: 1.8rem;
        margin: unset;
        padding: 1rem 0 ;
        color: v.$secundario;
        text-align: center;
        text-transform: uppercase;
    }
    &__products {
        display: flex;
        margin-top: v.$separacion;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;        
    }

    &__product {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h3 {
            color: v.$negro;
            font-weight: 400;
            font-size: .9rem;

        }

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
        p {
            font-style: italic;
        }

    }
    &__buttons {

        button {
            border: none;
            background-color: v.$rojo;
            color: v.$blanco;
            text-transform: uppercase;
            font-weight: 900;
            border-radius: 50%;
            padding: .2rem;
            width: 1.5rem;
            height: 1.5rem;
            &:hover {
                cursor: pointer;
            }
        }

    }

    &__total {
        margin-top: v.$separacion;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        

        p {
            color: v.$negro;
            font-size: 1.5rem;
            span {
                color: v.$terciario;
            }
        }

        button {
            border: none;
            background-color: v.$terciario;
            padding: 1rem 2rem;
            width: 10rem;
            border-radius: 5rem;
            color: v.$blanco;
            box-shadow: 0 2px 7px #dfdfdf;
            font-size: .8rem;
            &:hover {
                cursor: pointer;
                background-color: v.$grisClaro;
                color: v.$primario;
                transition: all .3s ease-in;
            }
            @include m.tablet {
                width: 15rem;
            }
            
        }
    }
    &__clean {
        margin-top: v.$separacion;
        border: none;
        background-color: v.$secundario;
        padding: 1rem 2rem;
        width: 10rem;
        border-radius: 5rem;
        color: v.$blanco;
        box-shadow: 0 2px 7px #dfdfdf;
        font-size: .8rem;
        &:hover {
            cursor: pointer;
            background-color: v.$grisClaro;
            color: v.$primario;
            transition: all .3s ease-in;
        }
        @include m.tablet {
            width: 15rem;
        }

    }


}






